<form th:action="@{/}" method="POST" xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="container">

        <div class="row">
            <p>

                <label for="valueOfCurrency">Amount GBP:</label><br>
                <input type="number" step="0.01" class="col-6" min="0" max="900719925474099" id="valueOfCurrency"
                       placeholder="GBP"
                       name="valueOfCurrency" th:value="${valueOfCurrency}"/>
            </p>

            <p>
                <label for="result">To PLN:</label><br>
                <input type="text" class="col-6" id="result" placeholder="Result"
                       name="result" th:value="${result}"/>
            </p>

            <p>
                <button type="submit" class="btn btn-primary mb-3">Exchange</button>
            </p>


            <p>
                <label for="exchangeRate"> GBP exchange rate:</label><br>
                <input type="text" class="col-6" id="exchangeRate" placeholder="Exchange Rate"
                       name="result" th:value="${exchangeRate}"/>
            </p>
        </div>
    </div>
</form>

